<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>The Awesome Chat App</title>
</head>
<body layout="column">
<div flex ui-view=""></div>
</body>