<md-toolbar class='md-small-tall'>
	<div class="md-toolbar-tools">
		<span>The awesome public room</span>
	</div>
</md-toolbar>
<md-content layout-padding class='md-custom-content' scroll-glue>
	<md-card ng-repeat="msg in room.messages">
		<div>{{msg.text}}</div>
		<div class="from">By {{msg.user}},  {{msg.time}}</div>
	</md-card>
</md-content>
<md-toolbar class="md-custom-toolbar-footer">
	<div layout-padding layout="row" layout-align="center center" flex>
		<input type="text" autofocus class="custom-input-message" placeholder="Type a message" flex ng-model="room.newMessage.text" ng-keypress="($event.which === 13) ? 
		room.addMessage() : 0;"/>
	</div>
</md-toolbar>
