md-card {
  padding: 20px;
}

md-toolbar.md-default-theme {
  background-color: gray;
}

.md-custom-content{
  min-height: calc(100vh - 120px);
  max-height:  calc(100vh - 120px);  
}

div.from{
  color: gray;
  font-size: 12px;
}

.md-custom-toolbar-footer{
  min-height: 40px;
  max-height: 40px;
  background-color: gray;
}

.custom-input-message{
  max-height: 25px;
  font-size: 16px;
  border-radius:5px;
}