<md-content layout="row" layout-align="center start" layout-fill layout-margin>

  <md-whiteframe layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>

    <md-toolbar class="md-primary md-tall" layout="column" layout-align="center" layout-fill>
      <div layout="row" class="md-toolbar-tools md-toolbar-tools-bottom" layout-align="center">
        <h3 class="md-display-1"> Login to the Awesome Chat App</h3>
      </div>
    </md-toolbar>

    <div layout="column" layout-fill layout-margin layout-padding>
      <form name="loginForm" layout="column" layout-fill layout-padding layout-margin>
        <md-input-container>
          <label> Username </label>
          <input type="text" ng-model="login.username" aria-label="username" required ng-keypress="($event.which === 13) ? login.login() : 0;"/>
        </md-input-container>
        <md-input-container>
          <label> Password </label>
          <input type="password" ng-model="login.password" aria-label="password" required ng-keypress="($event.which === 13) ? login.login() : 0;"/>
        </md-input-container>
        <div layout="row" layout-align="space-between center">
	       	<a class="md-button" href="/register">Create account</a>
          <md-button class="md-raised md-primary" ng-click="login.login()" aria-label="login"
                     ng-disabled="login.loginForm.$invalid()">Sign In
          </md-button>
        </div>
      </form>
      <md-toolbar ng-show="login.error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
        <p class="md-body-1">{{ login.error }}</p>
      </md-toolbar>
    </div>

  </md-whiteframe>
</md-content>